@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@keyframes moveClouds {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@keyframes moveCloudsPC {
  0% {
    background-position: top left;
    transform: translateY(0) translateX(0);
  }
  50% {
    background-position: top right;
    transform: translateY(-5%) translateX(-5%);
  }
  100% {
    background-position: top right;
    transform: translateY(5%) translateX(5%);
  }
}
@keyframes bgZoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
@keyframes bgZoomOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2);
  }
}
@keyframes textAnimation {
  0% {
    stroke-dashoffset: 100;
    stroke-dasharray: 100;
  }
  60% {
    fill: transparent;
    stroke-dashoffset: 0;
  }
  100% {
    fill: #85d22c;
    stroke-dasharray: 0;
  }
}
@keyframes fadeOut {
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fontScaleUp {
  to {
    font-size: 4rem;
  }
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.banner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.banner::before, .banner::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;
}
.banner::before {
  background-image: url("img/background_image.png");
  background-size: cover;
  background-position: center;
  animation: bgZoomIn 4s ease-in-out 1 forwards;
}
.banner::after {
  background-image: url("img/frontground_image.png");
  background-size: cover;
  background-position: top;
  opacity: 0.3;
  transform: scale(2);
  animation: bgZoomOut 4s ease-in-out 1 forwards;
}
.banner .clouds {
  position: absolute;
  inset: 0;
  background-image: url("img/moving_clouds.png");
  background-size: cover;
  background-position: top left;
  opacity: 0.7;
  animation: moveClouds 100s alternate infinite;
  z-index: 1;
}
@media (min-width: 1024px) {
  .banner .clouds {
    animation: moveCloudsPC 60s alternate infinite;
    scale: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

svg path {
  fill: transparent;
  stroke: #85d22c;
  stroke-width: 1;
  animation: textAnimation 4s ease-in-out 1 forwards, fadeOut 1s 4s ease-in-out 1 forwards;
  z-index: 1;
}

@media (max-width: 768px) {
  svg {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}
.navbar {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  opacity: 0;
  padding: 10px 20px;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  animation: fadeIn 2s 5s ease-in-out 1 forwards;
}

.nav-logo-container {
  width: 20%;
}

.nav-logo {
  width: 150%;
}
@media (min-width: 768px) {
  .nav-logo {
    width: 75%;
  }
}

.navbar-toggler {
  border: none;
  background-color: transparent;
  background-image: none;
  padding: 5px;
}
@media (min-width: 1024px) {
  .navbar-toggler {
    display: none;
  }
}

.navbar-toggler-icon {
  background-image: url(img/menu-toggler.png);
}

@media (min-width: 1024px) {
  .navbar-nav {
    gap: 30px;
  }
}

.nav-link {
  color: #85d22c;
  font-weight: 500;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .nav-link {
    font-size: 1.5rem;
  }
}
.nav-link:hover {
  color: #3c8500;
}

.navbar .nav-link.active {
  color: #b8f164 !important;
  scale: 1.1;
}

.hero {
  position: absolute;
  top: 25%;
  text-align: center;
  color: #fff;
  z-index: 1;
  opacity: 0;
  animation: fadeIn 2s 5s ease-in-out 1 forwards;
}
.hero h1 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .hero h1 {
    font-size: 3.75rem;
  }
}
.hero p {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 20px;
  max-width: 270px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .hero p {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 764px) {
  .hero p {
    max-width: 450px;
  }
}

.badges {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
  z-index: -1;
}
.badges a img {
  width: 60px;
}
@media screen and (min-width: 768px) {
  .badges {
    gap: 20px;
  }
  .badges a img {
    width: 80px;
  }
}
@media screen and (min-width: 1024px) {
  .badges {
    gap: 30px;
  }
}

.badges a:nth-child(3),
.badges a:nth-child(4) {
  transform: translateY(140%);
}

.badges a:nth-child(2),
.badges a:nth-child(5) {
  transform: translateY(100%);
}

.badges a:first-child {
  transform: translate(26%, 26%);
}

.badges a:last-child {
  transform: translate(-26%, 26%);
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}

.scroll-btn button {
  border: 2px solid #85d22c;
  border-radius: 50px;
  background-color: transparent;
  color: #85d22c;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  position: absolute;
  bottom: -60%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
}
.scroll-btn button:hover {
  border-color: #b8f164;
  color: #fff;
  font-size: 1.1rem;
}

.tipos {
  background-image: url("img/world-clean-energy-image.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .tipos {
    background-size: 160%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .tipos {
    background-size: 180%;
  }
}

.cards {
  margin-top: 120px;
  margin-bottom: 120px;
}
@media screen and (min-width: 1024px) {
  .cards {
    margin-top: 150px;
    margin-bottom: 150px;
  }
}

.card-types {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 5px;
  text-align: start;
  cursor: pointer;
  transition: all 1s ease-in-out;
  background-color: rgba(250, 250, 250, 0.8);
}
.card-types:hover {
  background-color: rgba(250, 250, 250, 0.9);
}
.card-types h3 {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}
.card-types p {
  font-size: 0.8rem;
  font-weight: 300;
  color: #040a00;
}
@media screen and (min-width: 764px) {
  .card-types {
    width: 70%;
    padding: 10px;
  }
  .card-types h3 {
    font-size: 1.6rem;
  }
  .card-types p {
    font-size: 1rem;
  }
}

.card-left,
.card-right {
  justify-content: flex-start;
  opacity: 1;
}
@media screen and (min-width: 1024px) {
  .card-left,
  .card-right {
    margin-left: auto;
  }
}

.card-left {
  margin-right: auto;
  border: 2px solid #85d22c;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.card-left h3 {
  color: #85d22c;
}

.card-right {
  margin-left: auto;
  border: 2px solid #3c8500;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
@media screen and (min-width: 1024px) {
  .card-right {
    margin-left: auto;
    margin-right: auto;
  }
}
.card-right h3 {
  color: #3c8500;
}

.card-displayed {
  display: flex;
  gap: 20px;
  align-items: bottom;
}

.card-displayed-after {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}
.card-displayed-after h2 {
  font-size: 0.9rem;
  font-weight: 700;
  color: #040a00;
}
@media screen and (min-width: 1024px) {
  .card-displayed-after {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
  }
}

.card-displayed-after.show {
  max-height: 1000px;
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  .card-displayed-after-div {
    width: 50%;
  }
}

.carousel-image {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .carousel-image {
    height: 400px;
  }
}

.carousel-image-left {
  border-bottom-right-radius: 30px;
}

.carousel-image-right {
  border-bottom-left-radius: 30px;
}

#beneficios-desafios {
  width: auto;
  height: calc(100vh - 90px);
}
@media screen and (min-width: 1024px) {
  #beneficios-desafios {
    height: calc(100vh - 110px);
  }
}

.cards-benef-desaf {
  display: flex;
  flex-direction: column;
  gap: 2%;
  padding: 4%;
  height: 100%;
}
@media screen and (min-width: 1025px) {
  .cards-benef-desaf {
    flex-direction: row;
  }
}
.cards-benef-desaf p {
  font-size: 1rem;
  font-weight: 300;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 10px rgb(0, 0, 0);
}

.card-benef,
.card-desaf {
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 50%;
}
.card-benef h3,
.card-desaf h3 {
  font-size: 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 768px) {
  .card-benef h3,
  .card-desaf h3 {
    font-size: 3rem;
  }
}
.card-benef p,
.card-desaf p {
  display: none;
}
@media screen and (min-width: 1025px) {
  .card-benef,
  .card-desaf {
    width: 50%;
    height: 100%;
    transition: all 6s ease-in-out;
  }
  .card-benef:hover,
  .card-desaf:hover {
    width: 140%;
    transition: all 6s ease-in-out;
  }
  .card-benef:hover h3,
  .card-desaf:hover h3 {
    animation: fontScaleUp 1s ease-in forwards;
  }
  .card-benef:hover p,
  .card-desaf:hover p {
    animation: fadeIn 2s ease-in forwards;
    display: block;
  }
  .card-benef:not(:hover),
  .card-desaf:not(:hover) {
    width: 50%;
  }
  .card-benef:not(:hover) h3,
  .card-desaf:not(:hover) h3 {
    animation: fontScaleDown 1s ease-in forwards;
  }
  .card-benef:not(:hover) p,
  .card-desaf:not(:hover) p {
    animation: fadeOut 1s ease-in forwards;
  }
}
@media screen and (max-width: 1024px) {
  .card-benef,
  .card-desaf {
    transition: height 0.5s ease-in-out;
  }
  .card-benef.clicked,
  .card-desaf.clicked {
    height: 140%;
  }
  .card-benef.clicked p,
  .card-desaf.clicked p {
    animation: fadeIn 2s ease-in forwards;
    display: block;
  }
}
@media screen and (max-width: 1024px) and (max-height: 768px) {
  .card-benef p,
  .card-desaf p {
    font-size: 0.8rem;
  }
}

.card-benef {
  border: 4px solid #b8f164;
  background-image: url("img/background_image_benefits.svg");
  background-size: cover;
  background-position: center;
}
.card-benef h3 {
  color: #b8f164;
  text-shadow: 0 0 10px rgb(0, 0, 0);
}

.card-desaf {
  border: 4px solid #85d22c;
  background-image: url("img/background_image_challenge.svg");
  background-size: cover;
  background-position: center;
}
.card-desaf h3 {
  color: #85d22c;
  text-shadow: 0 0 10px rgb(0, 0, 0);
}

#use-greenflow {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 30px 20px;
  margin-bottom: 200px;
  padding-top: 120px;
}
#use-greenflow h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #85d22c;
  text-align: center;
}
#use-greenflow h2 p {
  font-size: 1.4rem;
  font-weight: 600;
  color: #85d22c;
  max-width: fit-content;
  text-align: center;
  margin: 0 auto;
}
#use-greenflow p {
  font-size: 0.9rem;
  font-weight: 300;
  color: #040a00;
  text-align: center;
  padding: 0 40px;
  max-width: 1100px;
}

#use-greenflow {
  position: relative;
}
#use-greenflow .mockups {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}
#use-greenflow .mockups img {
  position: absolute;
  height: auto;
  opacity: 0.2;
}
#use-greenflow .mockups img.mockups-mobile {
  bottom: 5%;
  left: -25%;
  width: 25vh;
}
@media screen and (min-width: 768px) {
  #use-greenflow .mockups img.mockups-mobile {
    left: -10%;
    bottom: -10%;
  }
}
@media screen and (min-width: 1024px) {
  #use-greenflow .mockups img.mockups-mobile {
    bottom: -10%;
    left: 5%;
  }
}
@media screen and (min-width: 1600px) {
  #use-greenflow .mockups img.mockups-mobile {
    width: 35vh;
  }
}
#use-greenflow .mockups img.mockups-desktop {
  bottom: 5%;
  right: -25%;
  width: 30vh;
}
@media screen and (min-width: 768px) {
  #use-greenflow .mockups img.mockups-desktop {
    right: -10%;
    bottom: -10%;
  }
}
@media screen and (min-width: 1024px) {
  #use-greenflow .mockups img.mockups-desktop {
    right: 5%;
  }
}
@media screen and (min-width: 1600px) {
  #use-greenflow .mockups img.mockups-desktop {
    width: 40vh;
  }
}

.use-greenflow-hero {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  position: relative;
  z-index: 1;
}
.use-greenflow-hero h3 {
  font-size: 8vw;
  font-weight: 800;
  color: #3c8500;
}
@media screen and (min-width: 768px) {
  .use-greenflow-hero h3 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .use-greenflow-hero h3 {
    font-size: 4rem;
  }
}
.use-greenflow-hero a {
  font-size: 1.5rem;
  color: #85d22c;
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid #85d22c;
  border-radius: 30px;
  transition: all 0.7s ease;
}
.use-greenflow-hero a:hover {
  background-color: #85d22c;
  color: #fff;
}

footer {
  border-top: 2px solid #85d22c;
}

.footer-links a {
  color: #3c8500;
  text-decoration: none;
}
.footer-links a:hover {
  text-decoration: underline;
  color: #b8f164;
}

.footer-social a {
  color: #3c8500;
  font-size: 1.5rem;
}
.footer-social a:hover {
  color: #b8f164;
}

/*# sourceMappingURL=style.css.map */
